In [1]:
vara = 30
varb = 40
varc = 0

In [2]:
if vara<20:
    print('vara is lesser')
    print("svasjds")
else:
    print("else executed")

else executed

In [3]:
if vara<20:
    print('vara is lesser')
    print("svasjds")
else:
    print("else executed")
print("last line")

else executed
last line

In [4]:
if vara>20:
    print('vara is lesser')
    print("svasjds")
else:
    print("else executed")
print("last line")

vara is lesser
svasjds
last line

In [5]:
if vara<20:
    print('vara is lesser')
    print("svasjds")
elif vara==20:
    print("vara is equal to 20")
elif vara > 20:
    print('greater than')
else:
    print("else executed")
print("last line")

greater than
last line

In [6]:
vara

30

In [8]:
if vara:
    print("TRUE")
else:
    pass

TRUE

In [9]:
while(vara<34):
    print(vara)
    vara = vara+1

30
31
32
33

In [10]:
print(vara)

34

In [12]:
#while(True):
#    pass

In [13]:
avengers = ['thor', 'captain', 'blackwidow', 'thor', 'hulk', 'hawkeye']

In [14]:
for val in avengers:
    print(val)

thor
captain
blackwidow
thor
hulk
hawkeye

In [15]:
hero = 'shaktiman'

In [16]:
for c in hero:
    print(c)

s
h
a
k
t
i
m
a
n

In [17]:
for i in range(4):
    print(i)

0
1
2
3

In [18]:
for i in range(2, 6):
    print(i)

2
3
4
5

In [19]:
for i in range(2, 13, 2):
    print(i)

2
4
6
8
10
12

In [21]:
for i in range(0,3):
    for j in range(0,3):
        if (i==j):
            print("tea break")
            break;
        else:
            print("no further tea breaks")
        print("last line\n")

tea break
no further tea breaks
last line

tea break
no further tea breaks
last line

no further tea breaks
last line

tea break

In [22]:
'thor' in avengers

True

In [23]:
't' in 'thor'

True

In [24]:
'T' in 'thor'

False

In [25]:
'thor' is str

False

In [26]:
type('thor') is str

True

In [27]:
print(type('thor'))

<class 'str'>

In [28]:
#     enumerate()

In [32]:
for val in avengers:
    if(val=='hulk'):
        print("found")
        break;
else:
    print("not found")

found

In [33]:
for val in avengers:
    if(val=='HULK'):
        print("found")
        break;
else:
    print("not found")

not found

In [34]:
for val in avengers:
    pass
else:
    print("not found")

not found