In [1]:
import json

In [2]:
with open("example_1.json") as fa:
    data = json.load(fa)

In [3]:
data

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [4]:
data['fruit']

'Apple'

In [5]:
with open("example_2.json") as fa:
    data = json.load(fa)

In [6]:
data

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [7]:
data['quiz']['maths']['q2']['options'][1]

'2'

In [8]:
fa = open("example_2.json", "r")

stra = fa.read()

print(stra)

{
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}

In [9]:
ditcb = {10:'oo', 
         20:'yy', 
         30:'tt', 
         40:'rr'}

In [10]:
with open('example_3.json', 'w') as fc:
    json.dump(ditcb, fc)

In [16]:
class A:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def convert(self):
        return json.dumps(self, default=lambda x : x.__dict__)

In [17]:
obja = A(100, 200)

In [19]:
data = obja.convert()

In [20]:
data

'{"a": 100, "b": 200}'

In [21]:
json.dumps(obja.__dict__)

'{"a": 100, "b": 200}'

In [22]:
json.loads(data)

{'a': 100, 'b': 200}