In [1]:
#   sqlite

In [2]:
import sqlite3

In [3]:
con = sqlite3.connect('cricket.db')

In [4]:
cur_obja = con.cursor()

In [5]:
query = "CREATE TABLE players (id integer, name text, team text, skill text, price real, country text)"

In [6]:
cur_obja.execute(query)

In [9]:
q = """INSERT into players VALUES (34, "kohli", "rcb", "batsman", 678234, "ind")"""

In [10]:
cur_obja.execute(q)

In [11]:
con.commit()

In [12]:
listb = [7, "dhoni", "csk", "keeper_batsman", 567823, "ind"]
listc = [45, "sharma", "mi", "batsman", 234876, "ind"]

In [15]:
q = """INSERT into players (id, name, team, skill, price, country) VALUES (?,?,?,?,?,?)"""

In [16]:
cur_obja.execute(q, listb)
con.commit()

In [17]:
cur_obja.execute(q, listc)
con.commit()

In [18]:
con.close()

In [19]:
import sqlite3
con = sqlite3.connect('cricket.db')
cur_obja = con.cursor()
q = """UPDATE players SET name = "mahi" where id = 7"""

In [20]:
cur_obja.execute(q)
con.commit()

In [21]:
con.close()

In [22]:
import sqlite3
con = sqlite3.connect('cricket.db')
cur_obja = con.cursor()
q = """SELECT * FROM players"""
cur_obja.execute(q)

In [23]:
rows = cur_obja.fetchall()

In [24]:
print(rows)

[(34, 'kohli', 'rcb', 'batsman', 678234.0, 'ind'), (7, 'mahi', 'csk', 'keeper_batsman', 567823.0, 'ind'), (45, 'sharma', 'mi', 'batsman', 234876.0, 'ind')]

In [25]:
for row in rows:
    print(row)

(34, 'kohli', 'rcb', 'batsman', 678234.0, 'ind')
(7, 'mahi', 'csk', 'keeper_batsman', 567823.0, 'ind')
(45, 'sharma', 'mi', 'batsman', 234876.0, 'ind')

In [26]:
[print(row) for row in cur_obja.fetchall()]

[]

In [27]:
import sqlite3
con = sqlite3.connect('cricket.db')
cur_obja = con.cursor()
q = """SELECT * FROM players"""
cur_obja.execute(q)

In [28]:
[print(row) for row in cur_obja.fetchall()]

(34, 'kohli', 'rcb', 'batsman', 678234.0, 'ind')
(7, 'mahi', 'csk', 'keeper_batsman', 567823.0, 'ind')
(45, 'sharma', 'mi', 'batsman', 234876.0, 'ind')

[None, None, None]