In [2]:
varq = int(input())

67

In [3]:
type(varq)

int

In [5]:
varq = int(input())

if varq < 60:
    print("less than 60")
    print("")
else:
    print("more than or equal to 60")

70
more than or equal to 60

In [7]:
varq = int(input())

if varq < 60:
    print("less than 60")
    print("")
else:
    print("more than or equal to 60")

54
less than 60

In [8]:
if varq < 60:
    print("less than 60")
    print("")
elif varq == 60:
    print("equal to 60")
else:
    print("more tha 60")

less than 60

In [10]:
if varq < 60:
    print("less than 60")
    print("")
elif varq == 60:
    print("equal to 60")
else:
    pass

less than 60

In [11]:
varq = int(input())
varr = int(input())

if varq < 60 and varr > 50:
    print("less than 60")
    print("")
else:
    print("more than or equal to 60")

40
60
less than 60

In [ ]:
varq = int(input())
varr = int(input())

if varq > 30 and varq < 60 :
    print("less than 60")
    print("")
else:
    print("more than or equal to 60")

In [12]:
varq > 30 and varq < 60

True

In [13]:
30 < varq < 60

# chain

True

In [14]:
varq = int(input())

while(varq < 60):
    print("varq =", varq)
    varq = varq+1

55
varq = 55
varq = 56
varq = 57
varq = 58
varq = 59

In [15]:
print(varq)

60

In [16]:
for x in range(6):
    print("x is", x)

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5

In [17]:
for x in range(2, 8):
    print("x is", x)

x is 2
x is 3
x is 4
x is 5
x is 6
x is 7

In [18]:
for x in range(2, 19, 3):
    print("x is", x)

x is 2
x is 5
x is 8
x is 11
x is 14
x is 17

In [19]:
for x in range(13, 9):
    print("x is", x)

In [20]:
for x in range(13, 9, -1):
    print("x is", x)

x is 13
x is 12
x is 11
x is 10

In [21]:
lista = ['qq', 'tt', 'dd', 'yy', 'ss', 'qq', 'ff', 'dd']

In [22]:
for i in range(len(lista)):
    print("lista[i] =", lista[i])

lista[i] = qq
lista[i] = tt
lista[i] = dd
lista[i] = yy
lista[i] = ss
lista[i] = qq
lista[i] = ff
lista[i] = dd

In [23]:
for val in lista:
    print("lista[i] =", val)

lista[i] = qq
lista[i] = tt
lista[i] = dd
lista[i] = yy
lista[i] = ss
lista[i] = qq
lista[i] = ff
lista[i] = dd

In [24]:
for val in "hello":
    print("val", val)

val h
val e
val l
val l
val o

In [25]:
listb = ['aa', 'rr', 'ss', 'ww', 'ii', 'xx', 'ff']

In [26]:
lista = ['qq', 'tt', 'dd', 'yy', 'ss', 'qq', 'ff', 'dd']

In [27]:
for a in lista:
    if a in listb:
        print(a)

ss
ff

In [28]:
lista.index('ff')

6

In [29]:
listc = []

for a in lista:
    if a in listb:
        listc.append(a)
        print("found common")

found common
found common

In [30]:
listc = []

for a in lista:
    if a in listb:
        print("found common")
        break

found common

In [31]:
listd = ['aa', 'rr', 'cc', 'ww', 'ii', 'xx', 'mm']

In [32]:
for a in lista:
    if a in listd:
        print("found common")
        break

In [33]:
for a in lista:
    if a in listd:
        print("found common")
        break
    else:
        print("no common")

no common
no common
no common
no common
no common
no common
no common
no common

In [34]:
for a in lista:
    if a in listd:
        print("found common")
        break
else:
    print("no common")

no common

In [35]:
for a in lista:
    if a in listb:
        print("found common")
        break
else:
    print("no common")

found common

In [38]:
for a in lista:
    if a in listb:
        print("found common")
        break
else:
    print("no common")

found common

In [39]:
for a in lista:
    break
else:
    print("no common")

In [44]:
%%python2

x = xrange(2, 5)

print(x)

xrange(2, 5)

In [43]:
%%python2

x = range(2, 5)

print(x)

[2, 3, 4]

In [42]:
type(x)

range

In [45]:
avengers = {'captain':'sheild', 'ironman':'suit', 'vision':'stone'}

In [46]:
for x in avengers:
    print(x)

captain
ironman
vision

In [47]:
for x in avengers:
    print(x, "\t", avengers[x])

captain 	 sheild
ironman 	 suit
vision 	 stone

In [48]:
for x, y in avengers.items():
    print(x, y)

captain sheild
ironman suit
vision stone

In [ ]:
x = [i for i in range(3, 5)]